<h1><%= t('views.question.show')%></h1>

<% if user_signed_in? %>

<%= link_to '編集', edit_question_path(@question) ,class:"btn btn-success" %>
<%= link_to '削除', @question, method: :delete, data: { confirm: t('Are_you_sure?') } ,class:"btn btn-danger"%>

  <% unless @question.user_id == current_user.id %>
    <% if @bookmark.present? %>
      <%= link_to 'お気に入り解除する', bookmark_path(id: @bookmark.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入りする', bookmarks_path(question_id: @question.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>
<br><br>

<table class="table">
  <tbody>
      <tr>
        <td>タスク名</td>
        <td><%= @question.title %></td>
      </tr>
      <tr>
        <td>内容</td>
        <td><%= markdown(@question.content).html_safe %></td>
      </tr>
  </tbody>
</table>

<h1><%= t('views.answer.index')%></h1>
<% unless @question.answers.count.zero? %>

  <p>
    <strong>Answer:</strong>
    <%= @question.answers.count.to_s + "answers" %>
  </p>

  <p>
    <%= render @question.answers %>
  </p>
<% end %>

<h1><%= t('views.answer.new')%></h1>
<p>
  <%= render 'answers/form', question: @question %>
</p>
