
<% if user_signed_in? %>
  <%= form_with(model:[comment]) do |f| %>

  <div class="field">
    <%= f.text_field :content , placeholder: "コメントを投稿しよう...", class: "form-control"%>
    <%= f.hidden_field :user_id, :value => current_user.id  %>
    <%= f.hidden_field :answer_id, :value => answer.id  %>
  </div>
    <%= f.submit 'コメントする' %>
  <% end %>
<% end %>
