
  <h1><%= @user.name %>のページ</h1>
  <p>メールアドレス: <%= @user.email %></p>
  <% if current_user.id == @user.id %>
    <td><%= link_to 'Edit', edit_user_path(@user.id) %> </td>
    <td><%= link_to 'Pass-Edit', edit_user_registration_path %> </td>

  <% end %>


  <% if @user.icon.file.present? %>
   <p><%= image_tag @user.icon.url,:size => "50x50" %></p>
  <% else %>
   <p><%= image_tag("default.png", :size => "50x50") %></p>
  <% end %>



<h1>質問</h1>

<% @questions.each do |question| %>
  <p>
  <%= link_to question.title ,question_path(question)%>
  <p>
<% end %>

<h1>回答</h1>

<% @answers.each do |answer| %>
  <p>

  <%= link_to answer.title ,question_path(answer.id)%>
  <p>
<% end %>

<h1>ブックマーク</h1>

<% @bookmarks.each do |bookmark| %>
  <p>
  <%= link_to bookmark.title ,question_path(bookmark.id)%>
  <p>
<% end %>
