
<br>

  <div class="card  mx-auto">
    <div class="card-header ">
      <%= @user.name %>のプロフィール
    </div>

    <div class="card-body">
      <% if @user.icon.file.present? %>
      <%= image_tag @user.icon.url,:size => "300x300" %>
      <% else %>
      <%= image_tag("default.png", :size => "300x300") %>
      <% end %>

      <% if current_user.id == @user.id %>
      <p><br>
        <%= link_to 'プロフィール編集', edit_user_path(@user.id) , class: 'btn btn-primary'%>
        <% end %>
      </p>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="td-profile">メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td class="td-profile">自己紹介</td>
            <td><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<br>

<ul class="nav nav-tabs">
  <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">質問投稿</a></li>
  <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">回答投稿</a></li>
  <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">ブックマーク</a></li>
</ul>

<div class="tab-content">
  <div id="tab1" class="tab-pane active">
    <table class="table table-hover">
      <% @questions.each do |question| %>
      <tbody>
        <tr>
          <% if question.best_answer_id.present? %>
          <td  class="td-category"><div class="btn btn-info">質問<br>解決済<div></td>
            <% else %>
            <td  class="td-category"><div class="btn btn-danger">回答<br>受付中<div></td>
              <% end %>

              <td   class="td-title"><%= link_to question.title ,question_path(question) ,class:"article-title"%><br><br>
                <%= link_to question.user.name ,user_path(question.user_id) %>　が<%= question.created_at.strftime("%Y/%m/%d")  %>に投稿<br>
                回答：<%= question.answers.count %> 件・ブックマーク：<%= question.bookmarks.count %> 件
              </td>

              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="tab2" class="tab-pane">
        <table class="table table-hover">
          <% @answers.each do |question| %>
          <tbody>
            <tr>
              <% if question.best_answer_id.present? %>
              <td  class="td-category"><div class="btn btn-info">質問<br>解決済<div></td>
                <% else %>
                <td  class="td-category"><div class="btn btn-danger">回答<br>受付中<div></td>
                  <% end %>

                  <td   class="td-title"><%= link_to question.title ,question_path(question) ,class:"article-title"%><br><br>
                    <%= link_to question.user.name ,user_path(question.user_id) %>　が<%= question.created_at.strftime("%Y/%m/%d")  %>に投稿<br>
                    回答：<%= question.answers.count %> 件・ブックマーク：<%= question.bookmarks.count %> 件
                  </td>

                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="tab3" class="tab-pane">
            <div id="tab2" class="tab-pane">
              <table class="table table-hover">
                <% @bookmarks.each do |question| %>
                <tbody>
                  <tr>
                    <% if question.best_answer_id.present? %>
                    <td  class="td-category"><div class="btn btn-info">質問<br>解決済<div></td>
                      <% else %>
                      <td  class="td-category"><div class="btn btn-danger">回答<br>受付中<div></td>
                        <% end %>

                        <td   class="td-title"><%= link_to question.title ,question_path(question) ,class:"article-title"%><br><br>
                          <%= link_to question.user.name ,user_path(question.user_id) %>　が<%= question.created_at.strftime("%Y/%m/%d")  %>に投稿<br>
                          回答：<%= question.answers.count %> 件・ブックマーク：<%= question.bookmarks.count %> 件
                        </td>

                        <% end %>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
